<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scheduler APP</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="centered">
        <form action="{{ url_for('do_stuff')}}" method="POST">
            <input class='btn btn-primary mr-2' type="submit" value="submit_start" name="submit"><br>
        </form>
        <form action="{{ url_for('do_stuff')}}" method="POST">
            <input class='btn btn-primary mr-2' type="submit" value="submit_check" name="submit"><br>
        </form>
        <form action="{{ url_for('do_stuff')}}" method="POST">
            <input class='btn btn-primary mr-2' type="submit" value="submit_close" name="submit"><br>
        </form>
    </div>
    <div class="row justify-content-center">
        <div>
            <h2>{{start}}</h2>
            <h2>{{check}}
                <hr>
                <div class="row justify-content-center">
                    <h2>{{count}}</h2>
                </div>
            </h2>
            <h2>{{close}}</h2>

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
        integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf"
        crossorigin="anonymous"></script>

    <script src="/static/js/main.js"></script>

</body>

</html>